@model IEnumerable<PC_Store.ViewModels.OrderDetailViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Szczególy zamówienia</h1>

<h1>
    @ViewBag.EmptyCartMessage
</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Produkt
            </th>
            <th>
                Ilość
            </th>
            <th>
                Cena
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.Product.Picture != null)
                {
                    <img src="~/images/@item.Product.Picture" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                }
                else
                {
                    <img src="~/images/serverimg/brak_zdjecia.png" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetail.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetail.Price)
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <center>
    <label>Status zamówienia:</label>
    <p>@ViewData["Status"]</p>
</center>
</div>
<div>
    <form asp-controller="Order" asp-action="GetMyOrders">
        <div class="form-group">
            <input type="submit" value="Wróć" class="btn btn-light btn-md mr-1 mb-2" />
        </div>
    </form>
</div>
