@model PC_Store.Infrastructure.PaginatedList<PC_Store.ViewModels.ManagmentOrdersViewModel>


<h1>Moje zamówienia</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Data zamówienia
            </th>
            <th>
                Koszt zamówienia
            </th>
            <th>
                Adres
            </th>
            <th>
                Miasto
            </th>
            <th>
                Kod pocztowy
            </th>
            <th>
                Kraj
            </th>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>Status zamówienia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderPlaced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.AddressLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOrder)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Order.OrderId">Szczegóły</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<center>
    <a asp-action="GetMyOrders"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Poprzednia strona
        </button>
    </a>
    <a asp-action="GetMyOrders"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Następna strona
        </button>
    </a>
</center>
<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
    <button type="button" class="btn btn-light btn-md mr-1 mb-2">
        Wróć
    </button>
</a>
