@model PC_Store.Views.ViewModels.EditProductViewModel

@{
    ViewData["Title"] = "Edit";
}
@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })) { }
<h1>Edycja</h1>
Dodany: @Html.DisplayFor(model => model.Product.InsertDate)     Przez: @Html.DisplayFor(model => model.Product.InsertBy)<br />
Ostatnio zmodyfikowany: @Html.DisplayFor(model => model.Product.ModifyDate)     Przez: @Html.DisplayFor(model => model.Product.ModifyBy)<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Product.Id" />
            <div class="form-group">
                <label asp-for="@Model.Product.Name" class="control-label"></label>
                <input asp-for="@Model.Product.Name" asp-value="@Model.Product.Name" class="form-control" />
                <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Price" class="control-label"></label>
                <input asp-for="@Model.Product.Price" class="form-control" />
                <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="File" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Product.Act" /> Aktywny
                </label>
            </div>
            @if (Model.File != null)
            {
                <img src="~/images/@Model.File" class="rounded-circle" height="250" width="250" asp-append-version="true" />
            }
            else if (Model.Product.Picture != null)
            {
                <img src="~/images/@Model.Product.Picture" class="rounded-circle" height="250" width="250" asp-append-version="true" />
            }
            else
            {
                <img src="~/images/serverimg/brak_zdjecia.png" class="rounded-circle" height="250" width="250" asp-append-version="true" />
            }
            @Html.HiddenFor(model => model.Product.InsertDate)
            @Html.HiddenFor(model => model.Product.InsertBy)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    <hr />
    @if (Model.Product.ProductType.Equals("PROCESSOR"))
    {
        <a asp-controller="Processors" asp-action="Edit" asp-route-id="@Model.Id">Przejdz edycji do produktu</a>
    }
    else if (Model.Product.ProductType.Equals("MOTHERBOARD"))
    {
        <a asp-controller="Motherboards" asp-action="Edit" asp-route-id="@Model.Id">Przejdz edycji do produktu</a>
    }
    else if (Model.Product.ProductType.Equals("GRAPHICSCARD"))
    {
        <a asp-controller="Graphiccards" asp-action="Edit" asp-route-id="@Model.Id">Przejdz edycji do produktu</a>
    }
    else if (Model.Product.ProductType.Equals("COMPUTERCASE"))
    {
        <a asp-controller="Graphiccards" asp-action="Edit" asp-route-id="@Model.Id">Przejdz edycji do produktu</a>
    }
    else if (Model.Product.ProductType.Equals("RAMMEMORY"))
    {
        <a asp-controller="Rams" asp-action="Edit" asp-route-id="@Model.Id">Przejdz edycji do produktu</a>
    }
</div>

