@model IEnumerable<PC_Store.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1><center>Produkty</center></h1>
<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Cena
            </th>
            <th>
            </th>
            <th></th>
            <th>Atywyny</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (item.Picture != null)
                {
                    <img src="~/images/@item.Picture" class="rounded-circle" height="100" width="100" asp-append-version="true" />
                }
                else
                {
                    <img src="~/images/serverimg/brak_zdjecia.png" class="rounded-circle" height="100" width="100" asp-append-version="true" />
                }
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Act)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
