@model PC_Store.Infrastructure.PaginatedList<Product>

@{
    ViewData["Title"] = "Index";
}

<center><h1>Produkty - Panel</h1></center>
<br />
<br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input class="form-control" placeholder="Wyszukaj..." type="text" name="searchString" value="@ViewData["CurrentFilter"]" /><br />
            <select class="custom-select mr-sm-2 w-auto" name="filter" value="@ViewData["Filter"]">
                <option value="">Wszystko</option>
                @foreach (var item in ViewBag.products)
                {
                    if (@ViewData["Filter"].ToString() == @item)
                    {
                        <option selected value="@item">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            <input type="submit" value="Szukaj" class="btn btn-primary" />
            <a asp-action="Index">
                <button type="button" class="btn btn-success">
                    Wróć do pełnej listy
                </button>
            </a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["TypeProdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-filter="@ViewData["Filter"]">Typ porduktu</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-filter="@ViewData["Filter"]">Cena</a></th>
            <th>
            </th>
            <th></th>
            <th>Atywyny</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Picture != null)
                    {
                        <img src="~/images/@item.Picture" class="rounded-circle" height="100" width="100" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="~/images/serverimg/brak_zdjecia.png" class="rounded-circle" height="100" width="100" asp-append-version="true" />
                    }
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Act)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
                            Edytuj
                        </button>
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-info btn-md mr-1 mb-2">
                            Szczegóły
                        </button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<center>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Poprzednia strona
        </button>
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Następna strona
        </button>
    </a>
</center>
<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
    <button type="button" class="btn btn-light btn-md mr-1 mb-2">
        Wróć
    </button>
</a>