@model PC_Store.Views.ViewModels.CreateComputerCaseViewModel

@{
    ViewData["Title"] = "Create";
}
@using (Html.BeginForm("Create", "ComputerCase", FormMethod.Post, new { enctype = "multipart/form-data" })) { }
<h1>Create</h1>

<h4>Motherboard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Producer" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Producer" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.ProducerCode" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.ProducerCode" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.ProducerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Color" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Color" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Backlit" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Backlit" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Backlit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Height" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Height" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Width" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Width" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Depth" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Depth" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Weight" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Weight" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.ComputerCaseType" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.ComputerCaseType" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.ComputerCaseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Compatibility" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Compatibility" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Compatibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Window" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Window" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Window" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Muted" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Muted" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Muted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Usb20" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Usb20" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Usb20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Usb30" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Usb30" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Usb30" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Usb31" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Usb31" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Usb31" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.Usb32" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.Usb32" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.Usb32" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.USBC" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.USBC" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.USBC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.MemoryCardReader" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.MemoryCardReader" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.MemoryCardReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.SpeakerConnector" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.SpeakerConnector" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.SpeakerConnector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCase.MicrophoneConnector" class="control-label"></label>
                <input asp-for="@Model.ComputerCase.MicrophoneConnector" class="form-control" />
                <span asp-validation-for="@Model.ComputerCase.MicrophoneConnector" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="File" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

