@model PC_Store.Models.ComputerCase

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie obudowy</h1>

<h3>Na pewno chcesz usunąć?</h3>
<div>
    <h4>Obudowy do komputera</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Producent
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class="col-sm-2">
            Kod producenta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProducerCode)
        </dd>
        <dt class="col-sm-2">
            Kolor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            Podświetlenie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Backlit)
        </dd>
        <dt class="col-sm-2">
            Wysokość [cm]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            Szerokość [cm]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class="col-sm-2">
            Głębokość [cm]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class="col-sm-2">
            Waga [kg]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            Typ obudowy
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComputerCaseType)
        </dd>
        <dt class="col-sm-2">
            Kompatybilność
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compatibility)
        </dd>
        <dt class="col-sm-2">
            Okno
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Window)
        </dd>
        <dt class="col-sm-2">
            Wyciszona
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Muted)
        </dd>
        <dt class="col-sm-2">
            USB 2.0
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb20)
        </dd>
        <dt class="col-sm-2">
            USB 3.0
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb30)
        </dd>
        <dt class="col-sm-2">
            USB 3.1
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb31)
        </dd>
        <dt class="col-sm-2">
            USB 3.2
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb32)
        </dd>
        <dt class="col-sm-2">
            USB Typ-C
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.USBC)
        </dd>
        <dt class="col-sm-2">
            Czytnik kart pamięci
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemoryCardReader)
        </dd>
        <dt class="col-sm-2">
            Złącze słuchawkowe/głośnikowe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpeakerConnector)
        </dd>
        <dt class="col-sm-2">
            Złącze mikrofonowe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MicrophoneConnector)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </form>
    <br />
    <a asp-action="Index">
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>
</div>
