@model PC_Store.Models.ComputerCase

@{
    ViewData["Title"] = "Details";
}

<h1>Obudowa @Html.DisplayFor(model => model.Producer) @Html.DisplayNameFor(model => model.ProducerCode)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProducerCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProducerCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Backlit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Backlit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComputerCaseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComputerCaseType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compatibility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compatibility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Window)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Window)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Muted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Muted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usb20)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb20)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usb30)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb30)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usb31)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb31)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usb32)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usb32)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.USBC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.USBC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryCardReader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemoryCardReader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerConnector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpeakerConnector)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MicrophoneConnector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MicrophoneConnector)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>
