@model PC_Store.Models.ComputerCase

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>

<h4>Obudowa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="@Model.Producer" class="control-label"></label>
                <input asp-for="@Model.Producer" class="form-control" />
                <span asp-validation-for="@Model.Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProducerCode" class="control-label"></label>
                <input asp-for="@Model.ProducerCode" class="form-control" />
                <span asp-validation-for="@Model.ProducerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Color" class="control-label"></label>
                <input asp-for="@Model.Color" class="form-control" />
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Backlit" class="control-label"></label>
                <input asp-for="@Model.Backlit" class="form-control" />
                <span asp-validation-for="@Model.Backlit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Height" class="control-label"></label>
                <input asp-for="@Model.Height" class="form-control" />
                <span asp-validation-for="@Model.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Width" class="control-label"></label>
                <input asp-for="@Model.Width" class="form-control" />
                <span asp-validation-for="@Model.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Depth" class="control-label"></label>
                <input asp-for="@Model.Depth" class="form-control" />
                <span asp-validation-for="@Model.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Weight" class="control-label"></label>
                <input asp-for="@Model.Weight" class="form-control" />
                <span asp-validation-for="@Model.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerCaseType" class="control-label"></label>
                <input asp-for="@Model.ComputerCaseType" class="form-control" />
                <span asp-validation-for="@Model.ComputerCaseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Compatibility" class="control-label"></label>
                <input asp-for="@Model.Compatibility" class="form-control" />
                <span asp-validation-for="@Model.Compatibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Window" class="control-label"></label>
                <input asp-for="@Model.Window" class="form-control" />
                <span asp-validation-for="@Model.Window" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Muted" class="control-label"></label>
                <input asp-for="@Model.Muted" class="form-control" />
                <span asp-validation-for="@Model.Muted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Usb20" class="control-label"></label>
                <input asp-for="@Model.Usb20" class="form-control" />
                <span asp-validation-for="@Model.Usb20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Usb30" class="control-label"></label>
                <input asp-for="@Model.Usb30" class="form-control" />
                <span asp-validation-for="@Model.Usb30" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Usb31" class="control-label"></label>
                <input asp-for="@Model.Usb31" class="form-control" />
                <span asp-validation-for="@Model.Usb31" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Usb32" class="control-label"></label>
                <input asp-for="@Model.Usb32" class="form-control" />
                <span asp-validation-for="@Model.Usb32" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.USBC" class="control-label"></label>
                <input asp-for="@Model.USBC" class="form-control" />
                <span asp-validation-for="@Model.USBC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.MemoryCardReader" class="control-label"></label>
                <input asp-for="@Model.MemoryCardReader" class="form-control" />
                <span asp-validation-for="@Model.MemoryCardReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SpeakerConnector" class="control-label"></label>
                <input asp-for="@Model.SpeakerConnector" class="form-control" />
                <span asp-validation-for="@Model.SpeakerConnector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.MicrophoneConnector" class="control-label"></label>
                <input asp-for="@Model.MicrophoneConnector" class="form-control" />
                <span asp-validation-for="@Model.MicrophoneConnector" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.ProductId)
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>

