@model PC_Store.Infrastructure.PaginatedList<PC_Store.structure.ComputerCaseCreatorList>

@{
    ViewData["Title"] = "Index";
}
<center><h1>Obudowy</h1></center>
<br />
<br />
<div style="display: flex;">
    <form asp-action="ComputerCaseListCreator" method="get" float="left">
        <div class="form-actions no-color">
            <p>
                <input class="form-control" placeholder="Wyszukaj..." type="text" name="searchString" value="@ViewData["CurrentFilter"]" /><br />
                <input type="submit" value="Szukaj" class="btn btn-primary" />
                <input type="hidden" name="sortOrder" value="@ViewData["sortOrder"]" />
                <a asp-action="ComputerCaseListCreator">
                    <button type="button" class="btn btn-success">
                        Wróć do pełnej listy
                    </button>
                </a>
            </p>
        </div>
    </form>

    <form asp-action="ComputerCaseListCreator" method="get" style="margin-left:600px">
        <div class="form-row align-items-center">
            <p>
                <input type="hidden" name="searchString" value="@ViewData["CurrentFilter"]" />
                <select class="form-control" name="sortOrder" value="@ViewData["sortOrder"]">

                    @if (@ViewData["sortOrder"].ToString() == "price_desc")
                    {
                        <option value="price_asc">Cena - rosnąco</option>
                        <option value="price_desc" selected>Cena - malejąco</option>
                    }
                    else
                    {
                        <option value="price_asc" selected>Cena - rosnąco</option>
                        <option value="price_desc">Cena - malejąco</option>
                    }
                </select>

            </p>
        </div>
        <div>
            <input class="form-control btn btn-primary" type="submit" value="Sortuj" class="btn btn-primary" />

        </div>
    </form>
</div>
<a class="nav-link text-dark" asp-controller="PcCreator" asp-action="Index">
    <button type="button" class="btn btn-light btn-md mr-1 mb-2">
        Wróć do konfiguratora
    </button>
</a>
@if (Model.ToList().Count == 0)
{
    <center><h4>Brak pasującej obudowy</h4></center>
}

@foreach (var item in Model)
{
    <section>
        <hr />
        <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">

                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                    <a asp-controller="PcCreator" asp-action="ComputerCaseCreatorDetails" asp-route-id="@item.Id">
                        @if (item.Picture != null)
                        {
                            <img class="img-fluid w-100" src="~/images/@item.Picture" alt="Sample">
                        }
                        else
                        {
                            <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Sample">
                        }
                    </a>
                </div>

            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
                <div class="row">
                    <div class="col-lg-7 col-xl-7">

                        <h5><a asp-controller="PcCreator" asp-action="ComputerCaseCreatorDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Producer) @Html.DisplayFor(modelItem => item.ProducerCode)</a> </h5>
                        <ul class="rating">
                            <li>
                                <i>Producent: @Html.DisplayFor(modelItem => item.Producer)</i>
                            </li>
                            <li>
                                <i>Kod producenta: @Html.DisplayFor(modelItem => item.ProducerCode)</i>
                            </li>
                            <li>
                                <i>Kolor: @Html.DisplayFor(modelItem => item.Color)</i>
                            </li>
                            <li>
                                <i>Podświetlany: @Html.DisplayFor(modelItem => item.Backlit)</i>
                            </li>
                            <li>
                                <i>Typ obudowy: @Html.DisplayFor(modelItem => item.ComputerCaseType)</i>
                            </li>
                            <li>
                                <i>Kompatybilność: @Html.DisplayFor(modelItem => item.Compatibility)</i>
                            </li>
                        </ul>
                        <hr>

                    </div>
                    <div class="col-lg-5 col-xl-5">

                        <h6 class="mb-3"><span>@Html.DisplayFor(modelItem => item.Price) Zł</span></h6>
                        @if (item.Quantity <= 10 && item.Quantity >= 0)
                        {
                            <h6>Zostało ostatnie @item.Quantity sztuk!</h6>
                        }
                        else if (item.Quantity == 0)
                        {
                            <h6>Brak na magazynie</h6>
                        }
                        <div class="my-4">
                            <a asp-controller="PcCreator" asp-action="AddToCreator" asp-route-id="@item.Id">
                                <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
                                    Dodaj do konfiguracji
                                </button>
                            </a>
                            <a asp-controller="PcCreator" asp-action="ComputerCaseCreatorDetails" asp-route-id="@item.Id">
                                <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                                    Szczegóły
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<center>
    <a asp-action="ComputerCaseListCreator"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Poprzednia strona
        </button>
    </a>
    <a asp-action="ComputerCaseListCreator"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Następna strona
        </button>
    </a>
</center>
<a class="nav-link text-dark" asp-controller="PcCreator" asp-action="Index">
    <button type="button" class="btn btn-light btn-md mr-1 mb-2">
        Wróć do konfiguratora
    </button>
</a>