@model PC_Store.ViewModels.ComputerCaseCreatorViewModel

@{
    ViewData["Title"] = "Szczegóły Obudowy";
}

<center><h1>@Model.Producer @Model.ProducerCode</h1></center>

<div>
    <hr />
    <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">

                    <div class="row product-gallery mx-1">

                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img">

                                @if (@Model.Picture != null)
                                {
                                    <img src="~/images/@Model.Picture" class="img-fluid z-depth-1">
                                }
                                else
                                {
                                    <img src="~/images/serverimg/brak_zdjecia.png" class="img-fluid z-depth-1">
                                }
                            </figure>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <h5>Szczegóły processora</h5>
                <ul class="rating">
                    <li>
                        <i>Producent: @Model.Producer</i>
                    </li>
                    <li>
                        <i>Kod producenta: @Model.ProducerCode</i>
                    </li>
                    <li>
                        <i>Kolor: @Model.Color</i>
                    </li>
                    <li>
                        <i>Podświetlenie: @Model.Backlit</i>
                    </li>
                    <li>
                        <i>Wysokość [cm]: @Model.Height</i>
                    </li>
                    <li>
                        <i>Szerokość [cm]: @Model.Width</i>
                    </li>
                    <li>
                        <i>Głębokość [cm]: @Model.Depth</i>
                    </li>
                    <li>
                        <i>Waga [kg]: @Model.Weight</i>
                    </li>
                    <li>
                        <i>Typ obudowy: @Model.ComputerCaseType</i>
                    </li>
                    <li>
                        <i>Kompatybilność: @Model.Compatibility</i>
                    </li>
                    <li>
                        <i>Okno: @Model.Window</i>
                    </li>
                    <li>
                        <i>Wyciszona: @Model.Muted</i>
                    </li>
                    <li>
                        <i>USB 2.0: @Model.Usb20</i>
                    </li>
                    <li>
                        <i>USB 3.0: @Model.Usb30</i>
                    </li>
                    <li>
                        <i>USB 3.1: @Model.Usb31</i>
                    </li>
                    <li>
                        <i>USB 3.2: @Model.Usb32</i>
                    </li>
                    <li>
                        <i>USB Typ-C: @Model.USBC</i>
                    </li>
                    <li>
                        <i>Czytnik kart pamięci: @Model.MemoryCardReader</i>
                    </li>
                    <li>
                        <i>Złącze słuchawkowe/głośnikowe: @Model.SpeakerConnector</i>
                    </li>
                    <li>
                        <i>Złącze mikrofonowe: @Model.MicrophoneConnector</i>
                    </li>
                </ul>
                <h3><span class="mr-1"><strong>Cena: @Model.Price Zł</strong></span></h3>
                <hr>
                <a asp-controller="PcCreator" asp-action="AddToCreator" asp-route-id=@Model.Id>
                    <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
                        Dodaj do konfiguracji
                    </button>
                </a>
            </div>
        </div>

    </section>
    <div>
        <a asp-controller="PcCreator" asp-action="ComputerCaseListCreator">
            <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                Wróć
            </button>
        </a>
    </div>
