@model PC_Store.structure.GraphicCardCreatorList

@{
    ViewData["Title"] = "Details";
}

<center><h1>@Model.Producer @Model.ProducerCode</h1></center>

<div>
    <hr />
    <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">

                    <div class="row product-gallery mx-1">

                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img">

                                @if (@Model.Picture != null)
                                {
                                    <img src="~/images/@Model.Picture" class="img-fluid z-depth-1">
                                }
                                else
                                {
                                    <img src="~/images/serverimg/brak_zdjecia.png" class="img-fluid z-depth-1">
                                }
                            </figure>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <h5>Szczegóły Karty graficznej</h5>
                <ul class="rating">
                    <li>
                        <i>Producent: @Model.Producer</i>
                    </li>
                    <li>
                        <i>Kod producenta: @Model.ProducerCode</i>
                    </li>
                    <li>
                        <i>Producent chipsetu: @Model.ProducerChipset</i>
                    </li>
                    <li>
                        <i>Taktowanie rdzenia: @Model.CoreClock</i>
                    </li>
                    <li>
                        <i>Taktowanie rdzenia w trybie boost: @Model.CoreClockBoost</i>
                    </li>
                    <li>
                        <i>Typ złącza: @Model.ConnectorType</i>
                    </li>
                    <li>
                        <i>Rozdzielczość: @Model.Resolution</i>
                    </li>
                    <li>
                        <i>Rekomendowana moc zasilacza: @Model.RecommendedPSUPower</i>
                    </li>
                    <li>
                        <i>Ilość pamięci RAM: @Model.AmountOfRAM</i>
                    </li>
                    <li>
                        <i>Rodzaj pamięci RAM: @Model.TypeOfRAM</i>
                    </li>
                    <li>
                        <i>Szyna danych: @Model.DataBus</i>
                    </li>
                    <li>
                        <i>Taktowanie pamięci: @Model.MemoryClock</i>
                    </li>
                    <li>
                        <i>Typ chłodzenia: @Model.CoolingType</i>
                    </li>
                    <li>
                        <i>Ilość wentylatorów: @Model.NumberOfFans</i>
                    </li>
                    <li>
                        <i>D-Sub: @Model.DSub</i>
                    </li>
                    <li>
                        <i>DisplayPort: @Model.DisplayPort</i>
                    </li>
                    <li>
                        <i>HDMI: @Model.HDMI</i>
                    </li>
                    <li>
                        <i>DVI: @Model.DVI</i>
                    </li>

                </ul>
                <h3><span class="mr-1"><strong>Cena: @Model.Price Zł</strong></span></h3>
                <p class="pt-1">
                    Miejsce na opis
                </p>
                <hr>
                <h4><strong>Ilość:</strong></h4>
                <div class="def-number-input number-input safari_only">
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                </div>
                <hr>
                <a asp-controller="PcCreator" asp-action="AddToCreator" asp-route-id="@Model.Id">
                    <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
                        Dodaj do konfiguracji
                    </button>
                </a>
            </div>
        </div>

    </section>
    <div>
        <a asp-controller="PcCreator" asp-action="GraphicCardListCreator">
            <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                Wróć
            </button>
        </a>
    </div>
