@model PC_Store.Views.ViewModels.PCCreator

@{
    ViewData["Title"] = "Kreator PC";
}

<center>
    <h1>Kreator PC</h1>
    <hr />
    @if (User.Identity.IsAuthenticated)
    { 
        <div>
            <div>
                <form asp-action="LoadPcCreator" method="get">
                    <div class="form-actions no-color">
                        <p>
                            @if (ViewBag.userCreators != null)
                            {
                             <p>Twoje zapisane konfiguracje</p>


                                <select class="custom-select mr-sm-2 w-auto" name="name" value="@ViewData["name"]">

                                    @foreach (var item in ViewBag.userCreators)
                                    {
                                        if (@ViewData["name"].ToString() == @item)
                                        {
                                            <option selected value="@item">@item</option>
                                        }
                                        else
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>

                                <input type="submit" value="Wczytaj" class="btn btn-primary" />
                            }
                            else
                            {
                                <p>Nie masz zapisanej żadnej konfiguracji</p>
                            }
                        </p>
                    </div>
                </form>
            </div>
            <div>
                @if (Model.ComputerCaseProduct != null && Model.ProcessorProduct != null && Model.RamProduct != null && Model.GraphicCardProduct != null && Model.MotherboardProduct != null && Model.PowerSupplyProduct != null)
                {
                    <form asp-action="SavePcCreator" method="get">
                        <div class="form-actions no-color">
                            <p>
                                <input name="pageNumber" type="hidden" value="@ViewData["name"]" />
                                <label>Nazwa konfiguracji</label>
                                <input class="form-control w-25 p-3" placeholder="Podaj nazwę konfiguracji" value="@ViewData["name"]" type="text" name="name" required="required" /><br />
                                <input type="submit" value="Zapisz" class="btn btn-primary" />
                            </p>
                        </div>
                    </form>
                }
            </div>
        </div>
    <hr />
    }
    <div class="container mt-100">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card mb-30">
                    @if (Model.ProcessorProduct == null)
                    {
                        <a class="card-img-tiles" asp-action="ProcessorListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img"><img src="~/images/serverimg/PROCESSORcategory.jpg" alt="Category" style="height: 300px; object-fit: contain"></div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">Processory</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="card-img-tiles" style="height: 550px;" asp-action="ProcessorListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    @if (Model.ProcessorProduct.Picture != null)
                                    {
                                        <img class="img-fluid w-100" src="~/images/@Model.ProcessorProduct.Picture" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                    else
                                    {
                                        <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">@Model.ProcessorProduct.Name</h4>
                                <h4 class="card-title">@Model.ProcessorProduct.Price Zł</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                        <a asp-action="RemoveFromCreator" asp-route-id=@Model.ProcessorProduct.Id>
                            <button type="button" class="btn btn-danger btn-md mr-1 mb-2">
                                Usuń
                            </button>
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-30">
                    @if (Model.GraphicCardProduct == null)
                    {
                        <a class="card-img-tiles" asp-action="GraphiccardListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img"><img src="~/images/serverimg/GRAPHICCARDcategory.jpg" alt="Category" style="height: 300px; object-fit: contain"></div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">Karty graficzne</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="card-img-tiles" style="height: 550px;" asp-action="GraphiccardListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    @if (Model.GraphicCardProduct.Picture != null)
                                    {
                                        <img class="img-fluid w-100" src="~/images/@Model.GraphicCardProduct.Picture" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                    else
                                    {
                                        <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">@Model.GraphicCardProduct.Name</h4>
                                <h4 class="card-title">@Model.GraphicCardProduct.Price Zł</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                        <a asp-action="RemoveFromCreator" asp-route-id=@Model.GraphicCardProduct.Id>
                            <button type="button" class="btn btn-danger btn-md mr-1 mb-2">
                                Usuń
                            </button>
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-30">
                    @if (Model.MotherboardProduct == null)
                    {
                        <a class="card-img-tiles" asp-action="MotherboardListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img"><img src="~/images/serverimg/MOTHERBOARDcategory.jpg" alt="Category" style="height: 300px; object-fit: contain "></div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">Płyty główne</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="card-img-tiles" style="height: 550px;" asp-action="MotherboardListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    @if (Model.MotherboardProduct.Picture != null)
                                    {
                                        <img class="img-fluid w-100" src="~/images/@Model.MotherboardProduct.Picture" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                    else
                                    {
                                        <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">@Model.MotherboardProduct.Name</h4>
                                <h4 class="card-title">@Model.MotherboardProduct.Price Zł</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                        <a asp-action="RemoveFromCreator" asp-route-id=@Model.MotherboardProduct.Id>
                            <button type="button" class="btn btn-danger btn-md mr-1 mb-2">
                                Usuń
                            </button>
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-30">
                    @if (Model.ComputerCaseProduct == null)
                    {
                        <a class="card-img-tiles" asp-action="ComputercaseListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img"><img src="~/images/serverimg/COMPUTERCASEcategory.jpg" alt="Category" style="height: 300px; object-fit: contain"></div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">Obudowy</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="card-img-tiles" style="height: 550px;" asp-action="ComputercaseListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    @if (Model.ComputerCaseProduct.Picture != null)
                                    {
                                        <img class="img-fluid w-100" src="~/images/@Model.ComputerCaseProduct.Picture" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                    else
                                    {
                                        <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">@Model.ComputerCaseProduct.Name</h4>
                                <h4 class="card-title">@Model.ComputerCaseProduct.Price Zł</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                        <a asp-action="RemoveFromCreator" asp-route-id=@Model.ComputerCaseProduct.Id>
                            <button type="button" class="btn btn-danger btn-md mr-1 mb-2">
                                Usuń
                            </button>
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-30">
                    @if (Model.RamProduct == null)
                    {
                        <a class="card-img-tiles" asp-action="RamListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img"><img src="~/images/serverimg/RAMcategory.jpg" alt="Category" style="height: 300px; object-fit: contain"></div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">Pamięci RAM</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="card-img-tiles" style="height: 550px;" asp-action="RamListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    @if (Model.RamProduct.Picture != null)
                                    {
                                        <img class="img-fluid w-100" src="~/images/@Model.RamProduct.Picture" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                    else
                                    {
                                        <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">@Model.RamProduct.Name</h4>
                                <h4 class="card-title">@Model.RamProduct.Price Zł</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                        <a asp-action="RemoveFromCreator" asp-route-id=@Model.RamProduct.Id>
                            <button type="button" class="btn btn-danger btn-md mr-1 mb-2">
                                Usuń
                            </button>
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-30">
                    @if (Model.PowerSupplyProduct == null)
                    {
                        <a class="card-img-tiles" asp-action="PowerSupplyListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img"><img src="~/images/serverimg/POWERSUPPLYcategroy.jpg" alt="Category" style="height: 300px; object-fit: contain"></div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">Zasilacze</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="card-img-tiles" style="height: 550px;" asp-action="PowerSupplyListCreator" asp-route-id=@Model.PcCreatorId data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    @if (Model.PowerSupplyProduct.Picture != null)
                                    {
                                        <img class="img-fluid w-100" src="~/images/@Model.PowerSupplyProduct.Picture" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                    else
                                    {
                                        <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Category" style="height: 300px; object-fit: contain">
                                    }
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <h4 class="card-title">@Model.PowerSupplyProduct.Name</h4>
                                <h4 class="card-title">@Model.PowerSupplyProduct.Price Zł</h4>
                                <p>Dodaj do konfiguracji</p>
                            </div>
                        </a>
                        <a asp-action="RemoveFromCreator" asp-route-id=@Model.PowerSupplyProduct.Id>
                            <button type="button" class="btn btn-danger btn-md mr-1 mb-2">
                                Usuń
                            </button>
                        </a>
                    }
                </div>
            </div>
        </div>
        <hr />
        <a asp-controller="ShoppingCart" asp-action="AddPCtoShoppingCart" asp-route-id=@Model.PcCreatorId>
            <button type="button" class="btn btn-primary mr-1 mb-2 btn-lg">
                Dodaj do koszyka
            </button>
        </a>
    </div>
</center>
