@model PC_Store.ViewModels.ProcessorCreatorViewModel

@{
    ViewData["Title"] = "Details";
}

<center><h1>@Model.Producer @Model.Line</h1></center>

<div>
    <hr />
    <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">

                    <div class="row product-gallery mx-1">

                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img">

                                @if (@Model.Picture!=null)
                                {
                                        <img src="~/images/@Model.Picture" class="img-fluid z-depth-1">
                                }
                                else
                                {
                                        <img  src="~/images/serverimg/brak_zdjecia.png" class="img-fluid z-depth-1">
                                }
                            </figure>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <h5>Szczegóły processora</h5>
                <ul class="rating">
                    <li>
                        <i>Producent: @Model.Producer</i>
                    </li>
                    <li>
                        <i>Linnia: @Model.Line</i>
                    </li>
                    <li>
                        <i>Chłodzenie: @Model.Cooling</i>
                    </li>
                    <li>
                        <i>Rodzaj gniazda: @Model.SocketType</i>
                    </li>
                    <li>
                        <i>Liczba rdzeni: @Model.NumberOfCores</i>
                    </li>
                    <li>
                        <i>Liczba wątków: @Model.NumberOfThreads</i>
                    </li>
                    <li>
                        <i>Częstotliwość zegara: @Model.ProcessorClockFrequency</i>
                    </li>
                    <li>
                        <i>Maksymalna częstotliwość: @Model.TurboMaximumFrequency</i>
                    </li>
                    <li>
                        <i>Zintegrowana grafika: @Model.IntegratedGraphics</i>
                    </li>
                    <li>
                        <i>Odblokowany mnożnik: @Model.UnlockedMultiplier</i>
                    </li>
                    <li>
                        <i>Architektura: @Model.Architecture</i>
                    </li>
                    <li>
                        <i>Typ pamięci: @Model.TypesOfSupportedMemory</i>
                    </li>
                </ul>
                <h3><span class="mr-1"><strong>Cena: @Model.Price Zł</strong></span></h3>
                <hr>
                <a asp-controller="PcCreator" asp-action="AddToCreator" asp-route-id=@Model.Id>
                    <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
                        Dodaj do konfiguracji
                    </button>
                </a>
            </div>
        </div>

    </section>
    <div>
        <a asp-controller="PcCreator" asp-action="ProcessorListCreator">
            <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                Wróć
            </button>
        </a>
    </div>
