@model PC_Store.Views.ViewModels.CreateMotherboardViewModel

@{
    ViewData["Title"] = "Create";
}
@using (Html.BeginForm("Create", "Processor", FormMethod.Post, new { enctype = "multipart/form-data" })) { }
<h1>Create</h1>

<h4>Motherboard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Motherboard.Producer" class="control-label"></label>
                <input asp-for="@Model.Motherboard.Producer" class="form-control" />
                <span asp-validation-for="@Model.Motherboard.Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Motherboard.ProducerCode" class="control-label"></label>
                <input asp-for="@Model.Motherboard.ProducerCode" class="form-control" />
                <span asp-validation-for="@Model.Motherboard.ProducerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Motherboard.Standard" class="control-label"></label>
                <input asp-for="@Model.Motherboard.Standard" class="form-control" />
                <span asp-validation-for="@Model.Motherboard.Standard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Motherboard.Chipset" class="control-label"></label>
                <input asp-for="@Model.Motherboard.Chipset" class="form-control" />
                <span asp-validation-for="@Model.Motherboard.Chipset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Motherboard.SocketType" class="control-label"></label>
                <input asp-for="@Model.Motherboard.SocketType" class="form-control" />
                <span asp-validation-for="@Model.Motherboard.SocketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Motherboard.Technologies" class="control-label"></label>
                <input asp-for="@Model.Motherboard.Technologies" class="form-control" />
                <span asp-validation-for="@Model.Motherboard.Technologies" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="File" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

