@model PC_Store.Models.Motherboard

@{
    ViewData["Title"] = "Details";
}

<h1>Karta Graficzna @Html.DisplayFor(model => model.Producer) @Html.DisplayNameFor(model => model.ProducerCode)</h1>

<div>
    <hr />
    <<dl class="row">
    <dt class="col-sm-2">
        Producent
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Producer)
    </dd>
    <dt class="col-sm-2">
        Kod producenta
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProducerCode)
    </dd>
    <dt class="col-sm-2">
        Standard
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Standard)
    </dd>
    <dt class="col-sm-2">
        Chipset
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Chipset)
    </dd>
    <dt class="col-sm-2">
        Typ gniazda procesora
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SocketType)
    </dd>
    <dt class="col-sm-2">
        Technologie
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Technologies)
    </dd>
    <dt class="col-sm-2">
        Standard pamięci
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.StandardMemory)
    </dd>
    <dt class="col-sm-2">
        Rodzaj złącza
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ConnectorType)
    </dd>
    <dt class="col-sm-2">
        Ilość slotów pamięci
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumberOfMemorySlots)
    </dd>
    <dt class="col-sm-2">
        Maksymalna ilość pamięci [GB]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumberOfMemorySlots)
    </dd>
    <dt class="col-sm-2">
        Architektura wielokanałowa
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MultiChannelArchitecture)
    </dd>
    <dt class="col-sm-2">
        Obsługa zintegrowanych kart graficznych
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IntegratedGraphicsCardSupport)
    </dd>
    <dt class="col-sm-2">
        Chipset graficzny
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GraphicsChipset)
    </dd>
    <dt class="col-sm-2">
        Łączenie kart
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CombiningCards)
    </dd>
    <dt class="col-sm-2">
        Chipset dźwiękowy
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SoundChipset)
    </dd>
    <dt class="col-sm-2">
        Kanały audio
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AudioChannels)
    </dd>
    <dt class="col-sm-2">
        Zintegrowana karta sieciowa
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IntegratedNetworkCard)
    </dd>
    <dt class="col-sm-2">
        Chipset karty sieciowej
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NetworkCardChipset)
    </dd>
    <dt class="col-sm-2">
        PCI Express x1
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PCIExpressx1)
    </dd>
    <dt class="col-sm-2">
        PCI Express x4
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PCIExpressx4)
    </dd>
    <dt class="col-sm-2">
        PCI Express x16
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PCIExpressx16)
    </dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
            Edytuj
        </button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>
</div>
