@model PC_Store.ViewModels.MotherboardProduct

@{
    ViewData["Title"] = "Details";
}

<center><h1>@Model.Motherboard.Producer @Model.Motherboard.ProducerCode</h1></center>

<div>
    <hr />
    <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">

                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">

                    <div class="row product-gallery mx-1">

                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img">

                                @if (@Model.Product.Picture != null)
                                {
                                    <img src="~/images/@Model.Product.Picture" class="img-fluid z-depth-1">
                                }
                                else
                                {
                                    <img src="~/images/serverimg/brak_zdjecia.png" class="img-fluid z-depth-1">
                                }
                            </figure>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <h5>Szczegóły processora</h5>
                <ul class="rating">
                    <li>
                        <i>Producent: @Model.Motherboard.Producer</i>
                    </li>
                    <li>
                        <i>Kod producenta: @Model.Motherboard.ProducerCode</i>
                    </li>
                    <li>
                        <i>Standard: @Model.Motherboard.Standard</i>
                    </li>
                    <li>
                        <i>Chipset: @Model.Motherboard.Chipset</i>
                    </li>
                    <li>
                        <i>Typ gniazda procesora: @Model.Motherboard.SocketType</i>
                    </li>
                    <li>
                        <i>Technologie: @Model.Motherboard.Technologies</i>
                    </li>
                    <li>
                        <i>Standard pamięci: @Model.Motherboard.StandardMemory</i>
                    </li>
                    <li>
                        <i>Rodzaj złącza: @Model.Motherboard.ConnectorType</i>
                    </li>
                    <li>
                        <i>Ilość slotów pamięci: @Model.Motherboard.NumberOfMemorySlots</i>
                    </li>
                    <li>
                        <i>Maksymalna ilość pamięci [GB]: @Model.Motherboard.MaximumAmountOfMemory</i>
                    </li>
                    <li>
                        <i>Architektura wielokanałowa: @Model.Motherboard.MultiChannelArchitecture</i>
                    </li>
                    <li>
                        <i>Obsługa zintegrowanych kart graficznych: @Model.Motherboard.IntegratedGraphicsCardSupport</i>
                    </li>
                    <li>
                        <i>Chipset graficzny: @Model.Motherboard.GraphicsChipset</i>
                    </li>
                    <li>
                        <i>Łączenie kart: @Model.Motherboard.CombiningCards</i>
                    </li>
                    <li>
                        <i>Chipset dźwiękowy: @Model.Motherboard.SoundChipset</i>
                    </li>
                    <li>
                        <i>Kanały audio: @Model.Motherboard.AudioChannels</i>
                    </li>
                    <li>
                        <i>Zintegrowana karta sieciowa: @Model.Motherboard.IntegratedNetworkCard</i>
                    </li>
                    <li>
                        <i>Chipset karty sieciowej: @Model.Motherboard.NetworkCardChipset</i>
                    </li>
                    <li>
                        <i>PCI Express x1: @Model.Motherboard.PCIExpressx1</i>
                    </li>
                    <li>
                        <i>PCI Express x4: @Model.Motherboard.PCIExpressx16</i>
                    </li>
                    <li>
                        <i>PCI Express x16: @Model.Motherboard.PCIExpressx4</i>
                    </li>
                </ul>
                <h3><span class="mr-1"><strong>Cena: @Model.Product.Price Zł</strong></span></h3>
                <p class="pt-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                    error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                    officia quis dolore quos sapiente tempore alias.
                </p>
                <hr>
                <form asp-controller="ShoppingCart" asp-action="AddtoShoppingCart" asp-route-id="@Model.Product.Id">
                    <h4><strong>Ilość:</strong></h4>
                    <div class="def-number-input number-input safari_only">
                        <input class="quantity" min="1" name="quantity" value="1" type="number">
                    </div>
                    <hr>

                    <input type="submit" value="Dodaj do koszyka" class="btn btn-primary" />
                </form>
            </div>
        </div>

    </section>
    <div>
            <a asp-controller="Home" asp-action="MotherboardList">
                <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                    Wróć
                </button>
            </a>
    </div>
