@model PC_Store.ViewModels.UserRoleViewModel

@{

}

<form asp-controller="Administration" asp-action="EditUsersInRole"
      asp-route-roleId=@Model.Role method="get">
    <div class="form-actions no-color">
        <p>
            Wyszukaj: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="hidden" name="RoleId" value=@Model.Role />
            <input type="submit" value="Szukaj" class="btn btn-primary" />
            <a asp-action="EditUsersInRole" asp-route-roleId=@Model.Role>
                <button type="button" class="btn btn-success">
                    Wróć do pełnej listy
                </button>
            </a>
        </p>
    </div>
</form>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Zarządaj uprawnieniami</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.UserRoles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.UserRoles[i].UserId" />
                    <input type="hidden" asp-for="@Model.UserRoles[i].UserName" />
                    <input asp-for="@Model.UserRoles[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.UserRoles[i].IsSelected">
                        @Model.UserRoles[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Zapisz" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditRole" asp-route-id=@Model.Role
               class="btn btn-primary" style="width:auto">Anuluj</a>
        </div>
    </div>
</form>
