@model IEnumerable<PC_Store.Models.Motherboard>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chipset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technologies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Standard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chipset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocketType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Technologies)
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddtoShoppingCart" asp-route-id="@item.ProductId">Dodaj do koszyka</a>
                </td>
            </tr>
        }
    </tbody>
</table>
