@model IEnumerable<PC_Store.Models.Motherboard>

@{
    ViewData["Title"] = "Index";
}
<h1><center>Płyty główne</center></h1>
<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                Producent
            </th>
            <th>
                Kod producenta
            </th>
            <th>
                Standard
            </th>
            <th>
                Chipset
            </th>
            <th>
                Typ gniazda
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Standard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chipset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocketType)
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddtoShoppingCart" asp-route-id="@item.ProductId">Dodaj do koszyka</a>
                </td>
            </tr>
        }
    </tbody>
</table>
