@model IEnumerable<PC_Store.Views.ViewModels.RamList>

@{
    ViewData["Title"] = "Index";
}
<center><h1>Pamięci RAM</h1></center>
<br />
<br />

@foreach (var item in Model)
{
    <section>
        <hr />
        <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">

                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                    <a asp-controller="Ram" asp-action="RamDetails" asp-route-id="@item.Product.Id">
                        @if (item.Product.Picture != null)
                        {
                            <img class="img-fluid w-100" src="~/images/@item.Product.Picture" alt="Sample">
                        }
                        else
                        {
                            <img class="img-fluid w-100" src="~/images/serverimg/brak_zdjecia.png" alt="Sample">
                        }
                    </a>
                </div>

            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
                <div class="row">
                    <div class="col-lg-7 col-xl-7">

                        <h5><a asp-controller="Rams" asp-action="RamDetails" asp-route-id="@item.Product.Id">@Html.DisplayFor(modelItem => item.ram.Producer) @Html.DisplayFor(modelItem => item.ram.ProducerCode)</a> </h5>
                        <ul class="rating">
                            <li>
                                <i>Producent: @Html.DisplayFor(modelItem => item.ram.Producer)</i>
                            </li>
                            <li>
                                <i>Kod producenta: @Html.DisplayFor(modelItem => item.ram.ProducerCode)</i>
                            </li>
                            <li>
                                <i>Linia: @Html.DisplayFor(modelItem => item.ram.Line)</i>
                            </li>
                            <li>
                                <i>Typ złącza: @Html.DisplayFor(modelItem => item.ram.ConnectorType)</i>
                            </li>
                            <li>
                                <i>Pojemność łączna: @Html.DisplayFor(modelItem => item.ram.TotalCapacity)</i>
                            </li>
                            <li>
                                <i>Częstotliwość pracy [MHz]: @Html.DisplayFor(modelItem => item.ram.Frequency)</i>
                            </li>
                        </ul>
                        <hr>

                    </div>
                    <div class="col-lg-5 col-xl-5">

                        <h6 class="mb-3"><span>@Html.DisplayFor(modelItem => item.Product.Price) Zł</span></h6>
                        <div class="my-4">
                            <a asp-controller="ShoppingCart" asp-action="AddtoShoppingCart" asp-route-id="@item.Product.Id">
                                <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
                                    <i class="fas fa-shopping-cart pr-2"></i>Dodaj do koszyka
                                </button>
                            </a>
                            <a asp-controller="ComputerCases" asp-action="ComputerCaseDetails" asp-route-id="@item.Product.Id">
                                <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                                    <i class="fas fa-info-circle pr-2"></i>Szczegóły
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}