@model PC_Store.Infrastructure.PaginatedList<Dictionary>

@{
    ViewData["Title"] = "Index";
}


<h1><center>Słowniki - Panel</center></h1>
<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-success btn-md mr-1 mb-2">
            Dodaj
        </button>
    </a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input class="form-control" placeholder="Wyszukaj..." type="text" name="searchString" value="@ViewData["CurrentFilter"]" /><br />
                      <select class="custom-select mr-sm-2 w-auto" name="filter" value="@ViewData["Filter"]">
                          <option value="">Wszystko</option>
                          @foreach (var item in ViewBag.dictitems)
                          {
                              if (@ViewData["Filter"].ToString() == @item)
                              {
                                  <option selected value="@item">@item</option>
                              }
                              else
                              {
                                  <option value="@item">@item</option>
                              }
                          }
                      </select>
            
            <input type="submit" value="Szukaj" class="btn btn-primary" />
            <a asp-action="Index">
                <button type="button" class="btn btn-success">
                    Wróć do pełnej listy
                </button>
            </a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                CodeItem
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DictSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">CodeDict</a>
            </th>
            <th>
                CodeValue
            </th>
            <th>
                EXT1
            </th>
            <th>
                EXT2
            </th>
            <th>
                EXTN1
            </th>
            <th>
                EXTN2
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeDict)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ext1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ext2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtN1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtN2)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
                            Edytuj
                        </button>
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-info btn-md mr-1 mb-2">
                            Szczegóły
                        </button>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">

                        <button type="button" class="btn btn-danger btn-md mr-1 mb-2">
                            Usuń
                        </button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<center>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Poprzednia strona
        </button>
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">
            Następna strona
        </button>
    </a>
</center>
<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
    <button type="button" class="btn btn-light btn-md mr-1 mb-2">
        Wróć
    </button>
</a>