@model PC_Store.Views.ViewModels.CreateGraphicCardViewModel

@{
    ViewData["Title"] = "Create";
}
@using (Html.BeginForm("Create", "GraphicCard", FormMethod.Post, new { enctype = "multipart/form-data" })) { }
<center><h1>Dodawanie Karty graficznej</h1></center>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Producent
                <input asp-for="@Model.GraphicCard.Producer" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                Kod producenta
                <input asp-for="@Model.GraphicCard.ProducerCode" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.ProducerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                Producent chipsetu
                <input asp-for="@Model.GraphicCard.ProducerChipset" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.ProducerChipset" class="text-danger"></span>
            </div>
            <div class="form-group">
                Taktowanie rdzenia
                <input asp-for="@Model.GraphicCard.CoreClock" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.CoreClock" class="text-danger"></span>
            </div>
            <div class="form-group">
                Taktowanie rdzenia w trybie boost
                <input asp-for="@Model.GraphicCard.CoreClockBoost" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.CoreClockBoost" class="text-danger"></span>
            </div>
            <div class="form-group">
                Typ złącza
                <input asp-for="@Model.GraphicCard.ConnectorType" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.ConnectorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                Wersja złącza
                <input asp-for="@Model.GraphicCard.VerConnectorType" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.VerConnectorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                Rozdzielczość
                <input asp-for="@Model.GraphicCard.Resolution" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.Resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                Rekomendowana moc zasilacza
                <input asp-for="@Model.GraphicCard.RecommendedPSUPower" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.RecommendedPSUPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ilość pamięci RAM
                <input asp-for="@Model.GraphicCard.AmountOfRAM" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.AmountOfRAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                Rodzaj pamięci RAM
                <input asp-for="@Model.GraphicCard.TypeOfRAM" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.TypeOfRAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                Szyna danych
                <input asp-for="@Model.GraphicCard.DataBus" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.DataBus" class="text-danger"></span>
            </div>
            <div class="form-group">
                Taktowanie pamięci
                <input asp-for="@Model.GraphicCard.MemoryClock" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.MemoryClock" class="text-danger"></span>
            </div>
            <div class="form-group">
                Typ chłodzenia
                <input asp-for="@Model.GraphicCard.CoolingType" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.CoolingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ilość wentylatorów
                <input asp-for="@Model.GraphicCard.NumberOfFans" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.NumberOfFans" class="text-danger"></span>
            </div>
            <div class="form-group">
                D-Sub
                <input asp-for="@Model.GraphicCard.DSub" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.DSub" class="text-danger"></span>
            </div>
            <div class="form-group">
                DisplayPort
                <input asp-for="@Model.GraphicCard.DisplayPort" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.DisplayPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                HDMI
                <input asp-for="@Model.GraphicCard.HDMI" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.HDMI" class="text-danger"></span>
            </div>
            <div class="form-group">
                DVI
                <input asp-for="@Model.GraphicCard.DVI" class="form-control" />
                <span asp-validation-for="@Model.GraphicCard.DVI" class="text-danger"></span>
            </div>
            <div class="input-group">
                <div class="custom-file">
                    <input asp-for="File" type="file" class="custom-file-input" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Wybierz zdjęcie</label>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>
</div>

