@model PC_Store.Models.GraphicCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GraphicCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducerChipset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerChipset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreClockBoost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreClockBoost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedPSUPower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedPSUPower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfRAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfRAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfRAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfRAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataBus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataBus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemoryClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoolingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoolingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DSub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DSub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDMI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDMI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVI)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
