@model IEnumerable<PC_Store.Models.ViewModels.GraphicCard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerChipset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoreClock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoreClockBoost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecommendedPSUPower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfRAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfRAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataBus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryClock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoolingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfFans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DSub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerChipset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoreClock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoreClockBoost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendedPSUPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataBus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryClock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoolingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfFans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DSub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVI)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
