@model PC_Store.Models.Ram

@{
    ViewData["Title"] = "Details";
}

<h1>Ram @Html.DisplayFor(model => model.Producer) @Html.DisplayNameFor(model => model.ProducerCode)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Producent
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class="col-sm-2">
            Kod producenta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProducerCode)
        </dd>
        <dt class="col-sm-2">
            Linnia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line)
        </dd>
        <dt class="col-sm-2">
            Typ złącza
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConnectorType)
        </dd>
        <dt class="col-sm-2">
            Rodzaj pamięci
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemoryType)
        </dd>
        <dt class="col-sm-2">
            Chłodzenie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cooling)
        </dd>
        <dt class="col-sm-2">
            Niskoprofilowe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LowProfile)
        </dd>
        <dt class="col-sm-2">
            Pojemność łączna [GB]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCapacity)
        </dd>
        <dt class="col-sm-2">
            Liczba modułów
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfModules)
        </dd>
        <dt class="col-sm-2">
            Częstotliwość pracy [MHz]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class="col-sm-2">
            Opóźnienie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delay)
        </dd>
        <dt class="col-sm-2">
            Napięcie [V]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voltage)
        </dd>
        <dt class="col-sm-2">
            Podświetlenie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Backlight)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
            Edytuj
        </button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>
</div>
