@model PC_Store.Views.ViewModels.CreateProcessorViewModel



@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

@using (Html.BeginForm("Create", "Processor", FormMethod.Post, new { enctype = "multipart/form-data" })) { }
<h1>Dodaj Procesor</h1>

<h4>Processor</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Processor.Producer" class="control-label"></label>
                <select asp-for="@Model.Processor.Producer" class="control-label">
                    @{
                        foreach (var x in @Model.Producers)
                        {
                            <option>@x</option>
                        }

                    }
                </select>
                <span asp-validation-for="@Model.Processor.Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.Line" class="control-label"></label>
                <input asp-for="@Model.Processor.Line" class="form-control" />
                <span asp-validation-for="@Model.Processor.Line" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Processor.Cooling" /> @Html.DisplayNameFor(model => model.Processor.Cooling)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.SocketType" class="control-label"></label>
                <select asp-for="@Model.Processor.SocketType" class="control-label">

                    @{
                        foreach (var x in @Model.SocketTypes)
                        {
                            <option>@x</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.Processor.SocketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.NumberOfCores" class="control-label"></label>
                <input asp-for="@Model.Processor.NumberOfCores" class="form-control" />
                <span asp-validation-for="@Model.Processor.NumberOfCores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.NumberOfThreads" class="control-label"></label>
                <input asp-for="@Model.Processor.NumberOfThreads" class="form-control" />
                <span asp-validation-for="@Model.Processor.NumberOfThreads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.ProcessorClockFrequency" class="control-label"></label>
                <input asp-for="@Model.Processor.ProcessorClockFrequency" class="form-control" />
                <span asp-validation-for="@Model.Processor.ProcessorClockFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.TurboMaximumFrequency" class="control-label"></label>
                <input asp-for="@Model.Processor.TurboMaximumFrequency" class="form-control" />
                <span asp-validation-for="@Model.Processor.TurboMaximumFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.IntegratedGraphics" class="control-label"></label>
                <input asp-for="@Model.Processor.IntegratedGraphics" class="form-control" />
                <span asp-validation-for="@Model.Processor.IntegratedGraphics" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Processor.UnlockedMultiplier" /> @Html.DisplayNameFor(model => model.Processor.UnlockedMultiplier)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.Architecture" class="control-label"></label>
                <input asp-for="@Model.Processor.Architecture" class="form-control" />
                <span asp-validation-for="@Model.Processor.Architecture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Processor.TypesOfSupportedMemory" class="control-label"></label>
                <input asp-for="@Model.Processor.TypesOfSupportedMemory" class="form-control" />
                <span asp-validation-for="@Model.Processor.TypesOfSupportedMemory" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="File" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

