@model PC_Store.Models.Processor

@{
    ViewData["Title"] = "Details";
}

<h1>Procesor @Html.DisplayFor(model => model.Producer) @Html.DisplayFor(model => model.Line)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Producent
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class="col-sm-2">
            Linnia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line)
        </dd>
        <dt class="col-sm-2">
            Chłodzenie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cooling)
        </dd>
        <dt class="col-sm-2">
            Rodzaj gniazda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocketType)
        </dd>
        <dt class="col-sm-2">
            Liczba rdzeni
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCores)
        </dd>
        <dt class="col-sm-2">
            Liczba wątków
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfThreads)
        </dd>
        <dt class="col-sm-2">
            Częstotliwość zegara
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorClockFrequency)
        </dd>
        <dt class="col-sm-2">
            Maksymalna częstotliwość
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurboMaximumFrequency)
        </dd>
        <dt class="col-sm-2">
            Zintegrowana grafika
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegratedGraphics)
        </dd>
        <dt class="col-sm-2">
            Odblokowany mnożnik
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnlockedMultiplier)
        </dd>
        <dt class="col-sm-2">
            Architektura
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Architecture)
        </dd>
        <dt class="col-sm-2">
            Typ pamięci
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypesOfSupportedMemory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
            Edytuj
        </button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>
</div>
