@model IEnumerable<PC_Store.Models.Processor>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page,  ViewBag.CurrentFilter, sortOrder = ViewBag.NameSortParm }),
    new X.PagedList.Mvc.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

<table class="table">
    <thead>
        <tr>
            <th>
                @if (ViewBag.NameSortParam == "producerASC")
                {
                    @Html.ActionLink("Producent", "Index", new { sortOrder = "producerASC" })
                }
                else
                {
                    @Html.ActionLink("Producent", "Index", new { sortOrder = "producerDESC" })
                }

            </th>
            <th>
                @if (ViewBag.NameSortParam == "lineASC")
                {
                    @Html.ActionLink("Linnia", "Index", new { sortOrder = "lineASC" })
                }
                else
                {
                    @Html.ActionLink("Linnia", "Index", new { sortOrder = "lineDESC" })
                }

            </th>
            <th>
                Chłodzenie
            </th>
            <th>
                Socket
            </th>
            <th>
                Ilość rdzeni
            </th>
            <th>
                Ilość wątków
            </th>
            <th>
                Częstotliwość taktowania procesora [GHz]
            </th>
            <th>
                Częstotliwość maksymalna Turbo [GHz]
            </th>
            <th>
                Zintegrowany układ graficzny
            </th>
            <th>
                Odblokowany mnożnik
            </th>
            <th>
                Architektura [bit]
            </th>
            <th>
                Rodzaje obsługiwanej pamięci
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Line)
                </td>
                <td>    
                    @Html.DisplayFor(modelItem => item.Cooling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocketType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfCores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfThreads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessorClockFrequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurboMaximumFrequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntegratedGraphics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnlockedMultiplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Architecture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypesOfSupportedMemory)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr> 
        }
    </tbody>
</table>
<br />

@section Scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}